# Data Series 
## Creating Data Series manually

Importing required modules.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd

Creating a list which contains a names od week days.

In [5]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

Creating a Data Series object named __weekdaySeries__ based on a __weekdays__ list

In [7]:
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object


If we create a data series object with text elements, the dtype of that data series will be named __object__.

In [9]:
freeDays = [False, False, False, False, False, True, True]

In [10]:
freeDaysSeries = pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

To create  a series with choses names instead of indexes we have to use dictionaries.

In [12]:
holidays = {"New Year" : "2018-01-01", "Epiphany" : "2018-01-06", "Easter" : "2018-04-01"}

In [13]:
holidaysSeries = pd.Series(holidays)

In [14]:
holidaysSeries

New Year    2018-01-01
Epiphany    2018-01-06
Easter      2018-04-01
dtype: object

## Basic atributes
In this case we declare a empty list, then I filled it with some random values and in the end I created a series object based on this list.

In [16]:
dataAsFloatList = []
for i in range(100000):
    dataAsFloatList.append(i*rnd.random())
dataAsFloatSeries = pd.Series(dataAsFloatList)

To show a size of our data series we can use __size__ atribute.

In [18]:
dataAsFloatSeries.size

100000

If we wanna check how many bytes is our data series taking, we should use __nbytes__ atribute.

In [20]:
dataAsFloatSeries.nbytes

800000

To check how many values in any shape we have, just use a __shape__ atribute.

In [22]:
dataAsFloatSeries.shape

(100000,)

In [23]:
dataAsFloatSeries.axes

[RangeIndex(start=0, stop=100000, step=1)]

To find out what is a data type of our data in data series, we can use __dtype__ atribute.

In [25]:
dataAsFloatSeries.dtype

dtype('float64')

__Index__ atribute is to see how our indexes were created.

In [27]:
dataAsFloatSeries.index

RangeIndex(start=0, stop=100000, step=1)

To check uniqueness of our data, use __is_unique__ atribute.

In [29]:
dataAsFloatSeries.is_unique

True

In [30]:
dataAsFloatSeries.is_monotonic_increasing

False

In [31]:
dataAsFloatSeries.is_monotonic_decreasing

False

In [32]:
dataAsStringList = []
for i in range(100000):
    dataAsStringList.append(str(i*rnd.random()))
dataAsStringSeries = pd.Series(dataAsStringList)

In [33]:
print("size:\t", dataAsStringSeries.size)
print("nbytes:\t", dataAsStringSeries.nbytes)
print("dtype:\t", dataAsStringSeries.dtype)

size:	 100000
nbytes:	 800000
dtype:	 object

In [34]:
dataAsFloatSeries.memory_usage(deep=True)

800132

In [35]:
dataAsStringSeries.memory_usage(deep=True)

6634631

## Basic methods

In [37]:
cities = ["Shanghai","Beijing","Istanbul"]
population = [24183300, 20794100, 15030000]
citypop = pd.Series(data = population, index = cities)

In [38]:
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [39]:
print("sum of the all cities: ", citypop.sum())

sum of the all cities:  60007400

In [40]:
print("mean of each city: ", citypop.mean())

mean of each city:  20002466.666666668

In [41]:
citypop.index

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [42]:
citypop.keys()

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [43]:
citypop.values

array([24183300, 20794100, 15030000], dtype=int64)

## Exercise to course

In [45]:
ages = ["<=6", "7-14", "15-17", "18-24", "25-39", "40-59", ">=60"]
count = [14, 334, 312, 5823, 9491, 7486, 4343]

incidents = pd.Series(data=count, index= ages)

In [46]:
incidents

<=6        14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>=60     4343
dtype: int64

In [47]:
incidents.where(incidents>1000).dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [48]:
incident1000 = incidents.where(incidents > 1000).dropna()

In [49]:
incident1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [50]:
incidents

<=6        14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>=60     4343
dtype: int64

In [51]:
incidents.filter(items=["18-24", "25-39", "40-59"])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [52]:
incidents

<=6        14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>=60     4343
dtype: int64

In [53]:
incidents.where(incidents <= 1000, inplace = True)
incidents.dropna(inplace=True)

In [54]:
incidents

<=6       14.0
7-14     334.0
15-17    312.0
dtype: float64

## lab 7 exercises

In [56]:
namesList = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden','Switzerland','United Kingdom','Turkey','Ukraine']

In [57]:
energy2000List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]

In [58]:
energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [59]:
namesSeries = pd.Series(namesList)
energy2000Series = pd.Series(energy2000List)
energy2012Series = pd.Series(energy2012List)

In [60]:
mean2000 = energy2000Series.mean()
mean2012 = energy2012Series.mean()
filterAboveMean2000 = energy2000Series > mean2000
filterAboveMean2012 = energy2012Series > mean2012

In [61]:
namesSeries.where(filterAboveMean2000 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

## Importing data

To import data from csv file we can use __pd.read_csv()__ .

In [64]:
education = pd.read_csv("./files/StackOverflowDeveloperSurvey.csv")

In [65]:
education

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51387,51388,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,A social science,A few days each month,100 to 499 employees,...,Disagree,Male,A doctoral degree,East Asian; White or of European descent,Disagree,Agree,Strongly disagree,Strongly agree,58000.0,NaN
51388,51389,Student,No,Venezuela,"Yes, full-time",Employed full-time,Master's degree,Computer programming or Web development,Never,100 to 499 employees,...,NaN,Male,A master's degree,Black or of African descent; Hispanic or Latin...,Somewhat agree,Agree,Disagree,Agree,NaN,NaN
51389,51390,Professional developer,"Yes, I program as a hobby",Canada,No,Employed full-time,Some college/university study without earning ...,"Information technology, networking, or system ...","Less than half the time, but at least one day ...",10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51390,51391,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,Computer science or software engineering,Never,Fewer than 10 employees,...,Disagree,Male,A bachelor's degree,White or of European descent,Disagree,Agree,Disagree,Strongly agree,40000.0,NaN
51391,51392,Professional non-developer who sometimes write...,No,Ireland,No,Employed full-time,Bachelor's degree,Computer science or software engineering,It's complicated,"10,000 or more employees",...,Somewhat agree,Male,A bachelor's degree,White or of European descent,Somewhat agree,Strongly agree,Disagree,Strongly agree,NaN,NaN

Now, we imported a whole table, so our object is a __data frame__.

In [67]:
type(education)

pandas.core.frame.DataFrame

We want just a one column, so we try to import this as a __data series__ object.

In [69]:
educationds = pd.read_csv("./files/StackOverflowDeveloperSurvey.csv", usecols=["FormalEducation"]).squeeze()

In [70]:
type(educationds)

pandas.core.series.Series

Now, we have a __data series__ object with just one collumn.

In [125]:
education.head(2)

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0

In [127]:
educationds.tail(3)

51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [129]:
country = education["Country"]

In [133]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [145]:
filterOnlyUsa = (country == "United States")
educationds.where(filterOnlyUsa).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object