# Data Series 
## Creating Data Series manually

Importing required modules.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd

Creating a list which contains a names od week days.

In [5]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

Creating a Data Series object named __weekdaySeries__ based on a __weekdays__ list

In [7]:
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object


If we create a data series object with text elements, the dtype of that data series will be named __object__.

In [9]:
freeDays = [False, False, False, False, False, True, True]

In [10]:
freeDaysSeries = pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

To create  a series with choses names instead of indexes we have to use dictionaries.

In [12]:
holidays = {"New Year" : "2018-01-01", "Epiphany" : "2018-01-06", "Easter" : "2018-04-01"}

In [13]:
holidaysSeries = pd.Series(holidays)

In [14]:
holidaysSeries

New Year    2018-01-01
Epiphany    2018-01-06
Easter      2018-04-01
dtype: object

## Basic atributes
In this case we declare a empty list, then I filled it with some random values and in the end I created a series object based on this list.

In [16]:
dataAsFloatList = []
for i in range(100000):
    dataAsFloatList.append(i*rnd.random())
dataAsFloatSeries = pd.Series(dataAsFloatList)

To show a size of our data series we can use __size__ atribute.

In [18]:
dataAsFloatSeries.size

100000

If we wanna check how many bytes is our data series taking, we should use __nbytes__ atribute.

In [20]:
dataAsFloatSeries.nbytes

800000

To check how many values in any shape we have, just use a __shape__ atribute.

In [22]:
dataAsFloatSeries.shape

(100000,)

In [23]:
dataAsFloatSeries.axes

[RangeIndex(start=0, stop=100000, step=1)]

To find out what is a data type of our data in data series, we can use __dtype__ atribute.

In [25]:
dataAsFloatSeries.dtype

dtype('float64')

__Index__ atribute is to see how our indexes were created.

In [27]:
dataAsFloatSeries.index

RangeIndex(start=0, stop=100000, step=1)

To check uniqueness of our data, use __is_unique__ atribute.

In [29]:
dataAsFloatSeries.is_unique

True

In [30]:
dataAsFloatSeries.is_monotonic_increasing

False

In [31]:
dataAsFloatSeries.is_monotonic_decreasing

False

In [32]:
dataAsStringList = []
for i in range(100000):
    dataAsStringList.append(str(i*rnd.random()))
dataAsStringSeries = pd.Series(dataAsStringList)

In [33]:
print("size:\t", dataAsStringSeries.size)
print("nbytes:\t", dataAsStringSeries.nbytes)
print("dtype:\t", dataAsStringSeries.dtype)

size:	 100000
nbytes:	 800000
dtype:	 object

In [34]:
dataAsFloatSeries.memory_usage(deep=True)

800132

In [35]:
dataAsStringSeries.memory_usage(deep=True)

6634319

## Basic methods

In [37]:
cities = ["Shanghai","Beijing","Istanbul"]
population = [24183300, 20794100, 15030000]
citypop = pd.Series(data = population, index = cities)

In [38]:
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [39]:
print("sum of the all cities: ", citypop.sum())

sum of the all cities:  60007400

In [40]:
print("mean of each city: ", citypop.mean())

mean of each city:  20002466.666666668

In [41]:
citypop.index

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [42]:
citypop.keys()

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [43]:
citypop.values

array([24183300, 20794100, 15030000], dtype=int64)

## Exercise to course

In [45]:
ages = ["<=6", "7-14", "15-17", "18-24", "25-39", "40-59", ">=60"]
count = [14, 334, 312, 5823, 9491, 7486, 4343]

incidents = pd.Series(data=count, index= ages)

In [46]:
incidents

<=6        14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>=60     4343
dtype: int64

In [47]:
incidents.where(incidents>1000).dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [48]:
incident1000 = incidents.where(incidents > 1000).dropna()

In [49]:
incident1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [50]:
incidents

<=6        14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>=60     4343
dtype: int64

In [51]:
incidents.filter(items=["18-24", "25-39", "40-59"])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [52]:
incidents

<=6        14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>=60     4343
dtype: int64

In [53]:
incidents.where(incidents <= 1000, inplace = True)
incidents.dropna(inplace=True)

In [54]:
incidents

<=6       14.0
7-14     334.0
15-17    312.0
dtype: float64

## lab 7 exercises

In [56]:
namesList = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden','Switzerland','United Kingdom','Turkey','Ukraine']

In [57]:
energy2000List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]

In [58]:
energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [109]:
namesSeries = pd.Series(namesList)
energy2000Series = pd.Series(energy2000List)
energy2012Series = pd.Series(energy2012List)

In [122]:
mean2000 = energy2000Series.mean()
mean2012 = energy2012Series.mean()
filterAboveMean2000 = energy2000Series > mean2000
filterAboveMean2012 = energy2012Series > mean2012

In [130]:
namesSeries.where(filterAboveMean2000 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object